:root {
  --black: #000000;
  --light-black: rgba(38,45,90,0.5);
  --lightest-black: rgba(38,45,90,0.1);
  --primary: #ECE4DA;
  --secondary: #E4DAEC;
  --red: #C80421;
  --yellow: #f4be40;
  --green: #32a852;
  --white: #FFFFFF;
  --accent: #426B69;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
